<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>About</h1>
    </div>
    <p>
      I'm a software engineer currently at [Genesys](http://www.genesys.com/) in RTP, mostly working in JVM-based languages these days. If you like any of the tools I've made available and have a suggestion, feel free to open up a GitHub issue. 
    </p>
    <p>
      Otherwise, enjoy!
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>Projects</h1>
    </div>
  </div>
</div>

<div class="row row-eq-height repo-list">
  <div class="row-height">
    {% for repo in site.repos %}
    <div class="col-height text-center repo text-center" repo-id="{{repo.id}}">
      <div class="inside inside-full-height">
        <span class="pull-right stats"></span>
        <a href="https://github.com/monitorjbl/{{repo.id}}">
          <img src="{{repo.icon}}" class="medium-icon">
          <h3>{{repo.name}}</h3>
        </a>
        <p>{{repo.description}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>Updates</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{ content }}
  </div>
</div>
